@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import './components';

@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Brume-Regular';

  src: url('/fonts/Brume.woff2') format('woff2'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.font--brume {
  font-family: 'Brume-Regular';
}

.imageFadeIn {
  -webkit-animation: fade-in-fwd 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in-fwd {
  0% {
    opacity: 0;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes fade-in-fwd {
  0% {
    opacity: 0;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
